<%=render '/header'%>
<div class="bg-darkgray">
    <div class="container recruits-sign_up">
        <div class="header text-center py-4">
            <div class="h-60 mb-3">
                <img class="main-logo" src="<%=asset_path 'recruits/basiclogo_K_V.png'%>" alt="멋쟁이 사자처럼" />
            </div>
            <h1 class="white"><b>지원하기</b></h1>
        </div>
        <div class="main">
            <div class="form mx-auto bg-light p-4 bdr-3">
                <%=simple_form_for(@user, url: recruits_sign_up_path, remote: true, method: :post, class: '') do |u| %>
                    <div class="text-center">
                        <div class="w-100 text-right px-3">
                            * 는 필수항목 입니다.
                        </div>
                        <p class='form-name'>
                            <%=u.label :name, "이름*"%>
                            <%=u.text_field :name, autocomplete: "off",class: 'form-control form-size text-center'%>
                            <div class="error-name form-error"></div>
                        </p>
                        <p class='form-email'>
                            <%=u.label :email, "이메일*"%>
                            <%=u.email_field :email, required: true, autocomplete: "off", class: 'form-control text-center'%>
                            <div class="error-email form-error"></div>
                        </p>
                        <p class='form-mobile'>
                            <%=u.label :mobile, "휴대폰*"%>
                            <%=u.text_field :mobile, required: true, autocomplete: "off", class: 'form-control text-center', placeholder: 'EX) 010-xxxx-xxxx'%>
                            <div class="error-mobile form-error"></div>
                        </p>
                        <p class='form-university'>
                            <%=u.label :university, "학교*"%>
                            <select name="user[university]" id="" class="form-control select-center text-center" readonly=true>
                              <option value="" selected="selected" class="form-select"></option>
                              <option value="한밭대학교"  class="text-center">한밭대학교</option>
                              <option value="목원대학교"  class="form-select">목원대학교</option>
                            </select>
                            <div class="error-university form-error"></div>
                        </p>
                        <p class='form-grade'>
                            <%=u.label :grade, "학년*"%>
                            <select name="user[grade]" id="" class="form-control select-center" readonly=true>
                              <option value="" selected="selected"></option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                            </select>
                            <div class="error-grade form-error"></div>
                        </p>
                        <p class='form-id_number'>
                            <%=u.label :id_number, "학번*"%>
                            <%=u.text_field :id_number, required: true, autocomplete: "off", class: 'form-control text-center'%>
                            <div class="error-id_num form-error"></div>
                        </p>
                        <p class='form-major'>
                            <%=u.label :major, "전공*"%>
                            <%=u.text_field :major, required: true, autocomplete: "off", class: 'form-control text-center'%>
                            <div class="error-major form-error"></div>
                        </p>
                        <p class="text-left">
                            <%=u.label :text1, "Q1. 멋쟁이 사자처럼을 알게된 경로와 지원동기를 적어주세요", class: 'px-3'%>
                            <%=u.text_area :text1, rows: 5, class: 'form-control'%>
                        </p>
                        <p class="text-left">
                            <%=u.label :text2, "Q2. 자신이 만들고 싶은 서비스를 설명해주세요", class: 'px-3'%>
                            <%=u.text_area :text2, rows: 5, class: 'form-control'%>
                        </p>
                        <p class="text-left">
                            <%=u.label :text3, "Q3. 프로젝트를 완수한 경험을 적어주세요", class: 'px-3'%>
                            <%=u.text_area :text3, rows: 5, class: 'form-control'%>
                        </p>
                        <p class="text-left">
                            <%=u.label :text4, "Q4. 프로그래밍 강의 혹은 경험이 있다면 적어주세요", class: 'px-3'%>
                            <%=u.text_area :text4, rows: 5, class: 'form-control'%>
                        </p>
                        <p class="text-left">
                            <%=u.label :text5, "Q1. 멋사에 지원하게된 동기가 무엇입니까?", class: 'px-3'%>
                            <%=u.text_area :text5, rows: 5, class: 'form-control'%>
                        </p>
                        <p>
                            <%=u.button :submit, "제출하기", class: 'w-100 btn-orange'%>
                        </p>
                    </div>
                <%end%>
            </div>
            </br></br></br></br></br></br></br>
        </div>
    </div>
</div>
