<div class="container">
    <div class="header my-5">
        <h1 class="text-center">수정하기</h1>
    </div>
    <div class="main">
        <div class="form">
            <%=simple_form_for(@user, url: recruits_go_path, method: :post, class: '') do |u| %>
                <div class="text-center">
                    <%=u.label :email, "이메일"%>
                    <%=u.email_field :email, required: true, class: 'form-control text-center'%>
                    <%=u.label :name, "이름"%>
                    <%=u.text_field :name, required: true, class: 'form-control text-center'%>
                    <%=u.label :id_number, "학번"%>
                    <%=u.text_field :id_number, required: true, class: 'form-control text-center'%>
                    <%=u.button :submit, "수정하러가기", class: 'form-control btn-primary'%>
                </div>
            <%end%>
        </div>
    </div>
</div>