<div class="container">
    <div class="header my-5">
        <h1 class="text-center">지원하기</h1>
    </div>
    <div class="main">
        <div class="form">
            <%=simple_form_for(@user, url: recruits_sign_up_path, method: :post, class: '') do |u| %>
                <div class="text-center">
                    <%=u.label :name, "이름"%>
                    <%=u.text_field :name, required: true, class: 'form-control text-center'%>
                    <%=u.label :email, "이메일"%>
                    <%=u.email_field :email, required: true, class: 'form-control text-center'%>
                    <%=u.label :mobile, "휴대폰"%>
                    <%=u.text_field :mobile, required: true, class: 'form-control text-center'%>
                    <%=u.label :university, "학교"%>
                    <%=u.text_field :university, required: true, class: 'form-control text-center'%>
                    <%=u.label :id_number, "학번"%>
                    <%=u.text_field :id_number, required: true, class: 'form-control text-center'%>
                    <%=u.label :text1, "동기1"%>
                    <%=u.text_field :text1, class: 'form-control'%>
                    <%=u.label :text2, "동기2"%>
                    <%=u.text_field :text2, class: 'form-control'%>
                    <%=u.label :text3, "동기3"%>
                    <%=u.text_field :text3, class: 'form-control'%>
                    <%=u.label :text4, "동기4"%>
                    <%=u.text_field :text4, class: 'form-control'%>
                    <%=u.label :text5, "동기5"%>
                    <%=u.text_field :text5, class: 'form-control'%>
                    <%=u.button :submit, "제출하기", class: 'form-control btn-primary'%>
                </div>
            <%end%>
        </div>
    </div>
</div>